<!DOCTYPE html>
<html lang="en">
<body>
    <div class="homepage">
    <h1>Home Page</h1>
    </div>

    <hr>

    <div class="content">
        <img src="./content/images/me.jpg" height="300px" width="450px" alt="Me.jpg">
    </div>

    <br>

    <div class="intro">
        Hello, 
        my name is Huang Sheng Wen, and you can call me Alan. 
        
    </div>

</body>
</html>