<!-- 
COMP 229 - Fall 2022 - Web Application Development
Name: Huang Sheng Wen
Student ID: 301215574
 -->
<html>
<body class="aboutbody">
    <div class="homepage">
    <p><%= title %></p>
    </div>



</body>
</html>